@media only screen and (max-width:800px){
    .about_intro {
       
        .p1{
            background-color: red;
            width: 120%;
        }


    }
  

    #certifications img{
        width: 90%;
    }
}